:root {
  --primary-color: #282828;
  --secondary-color: #FF00FF;
  --tertiary-color: #00FFFF;
}

#root {
  /* background-color: var(--primary-color); */
  background-color: black;
}

/* Reset all default button styles */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.glitch {
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
}

main {
  /* background-color: var(--primary-color); */
  background-color: black;
}

.carouselImg {
  width: 35vw;
  height: 25vw;
  object-fit: cover;
}

.carouselContainer {
  width: 35vw;
  height: 25vw;
}

.navBtn {
  /* background-color: var(--primary-color); */
  background-color: black;
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  cursor: pointer;
}

.navBtnClicked {
  /* background-color: var(--primary-color); */
  background-color: black;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  cursor: pointer;
}

link {
  text-decoration: none;
}