:root {
  --primary-color: #282828;
  --secondary-color: #FF00FF;
  --tertiary-color: #00FFFF;
}

:root {
  background-color: black;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  :root {
  font-size: 14px;
  }
}
  

/* Reset all default button styles */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.glitch {
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
}

body {
  background-color: black;

}


.carouselImg {
  width: 35vw;
  height: 25vw;
  object-fit: cover;
}

.carouselContainer {
  width: 35vw;
  height: 25vw;
}

link {
  text-decoration: none;
}

.componentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Teko', sans-serif;
}

.mainContainer {
  width: 95%;
  max-width: 1200px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  padding: 2rem 10%;
  border-radius: 2rem;
}

.mainContainer h1 {
  font-size: 5rem;
  margin: 1rem 0;
  font-family: 'Orbitron', sans-serif;
}

.mainContainer p {
  font-size: 1.25rem;
  margin: 1rem 0;
}
@media screen and (max-width: 768px) {
  .mainContainer h1 {
  font-size: 3rem;
  }
  .mainContainer p {
  font-size: 1.5rem;
  }
}
