.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.gameTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}


.gameContainer h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .project-button {
        font-size: .75rem;
    }

    .gameContainer h3 {
        font-size: 1.25rem;
    }
}